*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}
@font-face {
    font-family: heading;
    src: url(./Stranger\ Things\ Outlined.ttf);
}
@font-face {
    font-family: para;
    src: url(./Benguiat\ Bold.ttf);
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation{
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}
.main{
    height: 100%;
    width: 100%;
    background-color:black;
    padding: 10px;
    margin-bottom: 20px;
}
.cards{
    height: 100%;
    width: 100%; 
    padding: 10px 20px;  
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    flex-wrap: wrap;
}
h1{
    color:red;
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    font-family: heading;
    text-shadow: 0px 0px 40px red;
}
.card{
    height: 400px;
    width: 350px;
    border: 0px solid rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 20px 30px;
    box-shadow: 0px 0px 00px rgba(255, 0, 0, 0);
    background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate),rgb(185, 13, 1),black) border-box;
    animation: rotation 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    transition: all 0.4s linear;
    color:white;
    font-family: para;
}

.card:hover{
    animation-play-state: running;
    box-shadow: 0px 0px 60px red;
    text-shadow: 0px 0px 20px red;
    color:red;
    border-width:8px;
    cursor: pointer;
    transform: scale(1.1) !important;
}

.card img{
    height: 150px;
    width: 100px;
}

.card p{
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.card h3{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.cards:has(.card:hover) .card{
    transform:scale(0.7);
}


@media(max-width:200px){
    .cards{
        display: flex;
        flex-direction:column;
        gap:20px;
    }
    .cards:active{
        animation-play-state: running;
    box-shadow: 0px 0px 60px red;
    text-shadow: 0px 0px 20px red;
    color:red;
    border-width:8px;
    cursor: pointer;
    }
}